{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<title>NewsDotCom</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand" href="{% url 'home' %}">
NewsDotCom
</a>

<button class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse"
id="navbarNav">

<ul class="navbar-nav ms-auto">

{% if not user.is_authenticated %}

<li class="nav-item">
<a class="nav-link" href="{% url 'login' %}">
Login
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'register' %}">
Register
</a>
</li>

{% else %}

<!-- Reader -->

{% if user.role == "reader" %}

<li class="nav-item">
<a class="nav-link"
href="{% url 'reader_dashboard' %}">
Home
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'all_articles' %}">
Articles
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'all_newsletters' %}">
Newsletters
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'publication_list' %}">
Publications
</a>
</li>

{% endif %}


<!-- Journalist -->

{% if user.role == "journalist" %}

<li class="nav-item">
<a class="nav-link"
href="{% url 'journalist_dashboard' %}">
Home
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'article_list' %}">
Articles
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'newsletter_list' %}">
Newsletters
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'publication_list' %}">
Publications
</a>
</li>

{% endif %}


<!-- Editor -->

{% if user.role == "editor" %}

<li class="nav-item">
<a class="nav-link"
href="{% url 'editor_dashboard' %}">
Home
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'article_list' %}">
Articles
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'newsletter_list' %}">
Newsletters
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'publication_list' %}">
Publications
</a>
</li>

<li class="nav-item">
<a class="nav-link"
href="{% url 'pending_journalists' %}">
Journalists
</a>
</li>

{% endif %}


<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle"
data-bs-toggle="dropdown"
href="#">

{{ user.username }}

</a>

<ul class="dropdown-menu dropdown-menu-end">

<li>

<a class="dropdown-item"
href="{% url 'home_redirect' %}">

Dashboard

</a>

</li>

<li>

<hr class="dropdown-divider">

</li>

<li>

<a class="dropdown-item text-danger"
href="{% url 'logout' %}">

Logout

</a>

</li>

</ul>

</li>

{% endif %}

</ul>

</div>

</div>

</nav>


<div class="container mt-3">

{% if messages %}

{% for message in messages %}

<div class="alert alert-{{ message.tags }}
alert-dismissible fade show">

{{ message }}

<button type="button"
class="btn-close"
data-bs-dismiss="alert">

</button>

</div>

{% endfor %}

{% endif %}

</div>


{% block content %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>

</body>

</html>
